@model List<AppRoleViewModel>
@using Microsoft.AspNetCore.Authorization
@using story.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Roles | Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Admin <small>Roles</small></h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    @*<h2>Table design <small>Custom design</small></h2>*@
                    @{
                        var checkCreate = await AuthorizationService.AuthorizeAsync(User, FunctionConstant.Role, Operations.Create);

                        var checkUpdate = await AuthorizationService.AuthorizeAsync(User, FunctionConstant.Role, Operations.Update);

                        var checkDelete = await AuthorizationService.AuthorizeAsync(User, FunctionConstant.Role, Operations.Delete);

                        var checkRead = await AuthorizationService.AuthorizeAsync(User, FunctionConstant.Role, Operations.Read);

                        if (checkCreate.Succeeded)
                        {
                            <div class="nav navbar-right panel_toolbox">
                                <button type="button" class="btn btn-success"><i class="fa fa-download"></i> Import</button>
                                <button type="button" class="btn btn-success"><i class="fa fa-cloud-upload"></i> Export</button>
                                <a href="@RouteConstant.RoleCreate" class="btn btn-success"><i class="fa fa-external-link"></i> Create</a>
                            </div>
                        }
                    }

                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th>
                                        <input type="checkbox" id="check-all" class="flat">
                                    </th>
                                    <th class="column-title" style="display: table-cell;">Name </th>
                                    <th class="column-title" style="display: table-cell;">Description </th>
                                    <th class="column-title" style="display: table-cell;">Status </th>
                                    <th class="column-title" style="display: table-cell;">Last Updated </th>

                                    <th class="column-title no-link last" style="display: table-cell;">
                                        <span class="nobr">Action</span>
                                    </th>
                                    <th class="bulk-actions" colspan="7" style="display: none;">
                                        <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt">1 Records Selected</span> ) <i class="fa fa-chevron-down"></i></a>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>

                                @{
                                    int key = 0;

                                    foreach (var role in Model)
                                    {
                                        string trClass = key % 2 == 0 ? "even" : "odd";
                                        <tr class="@(trClass) pointer">
                                            <td class="a-center ">
                                                <input type="checkbox" class="flat" name="table_records">
                                            </td>
                                            <td class=" ">@role.Name</td>
                                            <td class=" ">@role.Description</td>
                                            <td class=" ">@role.DateCreted</td>
                                            <td class=" ">
                                                @if (role.Status == Status.Active)
                                                {
                                                    <button type='button' class='btn btn-success btn-xs'>Active</button>
                                                }
                                                else
                                                {
                                                    <button type='button' class='btn btn-danger btn-xs'>Deactive</button>
                                                }
                                            </td>

                                            <td class="last">
                                                @if (checkRead.Succeeded)
                                                {
                                                    <a href="@(RouteConstant.RoleView + "/" + role.Id)" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                                }
                                                @if (checkUpdate.Succeeded)
                                                {
                                                    <a href="@(RouteConstant.RoleUpdate + "/" + role.Id)" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                                }
                                                @if (checkDelete.Succeeded)
                                                {
                                                    <form action="/" method="post" style="display:contents">
                                                        <input type="hidden" name="Id" value="@role.Id" />
                                                        <button type="submit" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </button>
                                                    </form>
                                                }
                                            </td>
                                        </tr>
                                        key++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


