@using story.Extensions.Helpers.Pagination
@using story.Authorization
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@model PageResult<AppUserViewModel>

@{
    ViewData["Title"] = "User | Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/admin/templates/vendors/alertifyjs/css/alertify.min.css" rel="stylesheet" />

    <link href="~/admin/templates/vendors/alertifyjs/css/themes/default.min.css" rel="stylesheet" />
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Admin <small>Users</small></h3>
        </div>

    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    @*<h2>Table design <small>Custom design</small></h2>*@
                    <div class="col-md-4">
                        @{
                            var checkCreate = await AuthorizationService.AuthorizeAsync(User, FunctionConstant.User, Operations.Create);

                            var checkUpdate = await AuthorizationService.AuthorizeAsync(User, FunctionConstant.User, Operations.Update);

                            var checkDelete = await AuthorizationService.AuthorizeAsync(User, FunctionConstant.User, Operations.Delete);

                            var checkRead = await AuthorizationService.AuthorizeAsync(User, FunctionConstant.User, Operations.Read);

                            if (checkCreate.Succeeded)
                            {

                                @*<button type="button" class="btn btn-success"><i class="fa fa-download"></i> Import</button>
                                    <button type="button" class="btn btn-success"><i class="fa fa-cloud-upload"></i> Export</button>*@
                                <a href="@RouteConstant.UserCreate" class="btn btn-success"><i class="fa fa-external-link"></i> Create</a>
                            }


                        }
                    </div>
                    <div class="col-md-8">
                        <form action="/admin/user/index" method="get">
                            <div class="col-md-3">
                                <select name="pageSize" class="form-control pull-right" asp-items="@ViewBag.PaginationSelectListItem" style="width:80px">
                                    @*<option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="25">50</option>*@
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select name="status" class="form-control pull-right" asp-items="@ViewBag.StatusSelectListItem" style="width:120px">
                                </select>
                            </div>
                            <div class="col-md-6 pull-right">
                                <div class="input-group">
                                    <input type="text" name="search" class="form-control" placeholder="Search ..." value="@ViewBag.Search">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary">Filter</button>
                                    </span>
                                </div>
                            </div>
                        </form>


                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th>
                                        <input type="checkbox" id="check-all" class="flat">
                                    </th>
                                    <th class="column-title" style="display: table-cell;">UserName </th>
                                    <th class="column-title" style="display: table-cell;">Full Name </th>
                                    <th class="column-title" style="display: table-cell;">Phone Number </th>
                                    <th class="column-title" style="display: table-cell;">Email </th>
                                    <th class="column-title" style="display: table-cell;">Last Updated </th>
                                    <th class="column-title" style="display: table-cell;">Status </th>

                                    <th class="column-title no-link last" style="display: table-cell;">
                                        <span class="nobr">Action</span>
                                    </th>
                                    <th class="bulk-actions" colspan="7" style="display: none;">
                                        <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt">1 Records Selected</span> ) <i class="fa fa-chevron-down"></i></a>
                                    </th>
                                </tr>
                            </thead>

                            <tbody>

                                @{
                                    int key = 0;

                                    foreach (var user in Model.Results)
                                    {
                                        string trClass = key % 2 == 0 ? "even" : "odd";
                                        <tr class="@(trClass) pointer">
                                            <td class="a-center ">
                                                <input type="checkbox" class="flat" name="table_records">
                                            </td>
                                            <td>@user.UserName</td>
                                            <td class=" ">@user.FullName</td>
                                            <td>@user.PhoneNumber</td>
                                            <td class=" ">@user.Email</td>
                                            <td class=" ">@user.DateUpdated</td>

                                            <td class=" ">
                                                @if (user.Status == Status.Active)
                                                {
                                                    <button type='button' class='btn btn-success btn-xs'>Active</button>
                                                }
                                                else
                                                {
                                                    <button type='button' class='btn btn-danger btn-xs'>Deactive</button>
                                                }
                                            </td>

                                            <td class="last">
                                                @if (checkRead.Succeeded)
                                                {
                                                    <a href="@(RouteConstant.UserView + "/" + user.Id)" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                                }
                                                @if (checkUpdate.Succeeded)
                                                {
                                                    <a href="@(RouteConstant.UserUpdate + "/" + user.Id)" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                                }
                                                @if (checkDelete.Succeeded)
                                                {
                                                    <input type="hidden" name="Id" value="@user.Id" />
                                                    <button type="submit" data-id="@user.Id" class="btn btn-danger btn-xs btnDelete"><i class="fa fa-trash-o"></i> Delete </button>
                                                }
                                            </td>
                                        </tr>
                                        key++;
                                    }
                                }
                            </tbody>
                        </table>
                        <div class="x_content">
                            <ul class="pagination pull-right">
                                @{
                                    int totalPage = Model.TotalPage;

                                    <li class="paginate_button previous">
                                        <a href="@(ViewBag.PathUrl )1">First</a>
                                    </li>
                                    for (int i = 1; i <= totalPage; i++)
                                    {
                                        <li class="paginate_button">
                                            <a href="@ViewBag.PathUrl@i">@i</a>
                                        </li>
                                    }
                                    <li class="paginate_button next">
                                        <a href="@ViewBag.PathUrl@totalPage">End</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/admin/templates/vendors/alertifyjs/alertify.js"></script>
}

